
.container {
  max-width: 100%;
  margin: 20px 100px 0 100px;
  padding: 40px;
  background: #FFFFFF;
  .gameCard {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 280px 280px 280px;
    gap: 20px;
    .gameCard__block {
      margin: 20px 0 0 20px;
      background: #FFFFFF;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      .gameCard__1 {
        box-sizing: border-box;
        width: 100%;
        height: 50%;
        padding: 10px;
        color: white;
        background: #BDBCFF;
        p {
          margin: 0;
        }
      }
      .gameCard__2 {
        padding: 10px;
        font-size: 0.7rem;
        .gameCard__btn1 {
          width: 50%;
          background: #6C69FF;
          border: none;
          height: 21px;
          color: white;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
        }
        .gameCard__btn1:hover {
          background-color: #4a47df;
          cursor: pointer;
        }
        .gameCard__btn2 {
          width: 50%;
          background: white;
          border: none;
          height: 21px;
          color: black;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
          border-radius: 4px;
        }
        .gameCard__btn2:hover {
          background-color: #dddddf;
          cursor: pointer;
        }
      }
    } 
  }
}

@media (max-width: 1300px) {
  .container {
    margin: 20px 20px 0 20px;
    .gameCard {
      display: grid;
      grid-template-columns: 230px 230px;
      grid-template-rows: 260px 260px 260px 260px 260px;
      gap: 20px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    margin: 20px 20px 0 20px;
    .container__flex {
      display: flex;
      flex-direction: column-reverse;
    }
    .gameCard {
      display: grid;
      grid-template-columns: 230px 230px;
      grid-template-rows: 260px 260px 260px 260px 260px;
      gap: 20px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    margin: 20px 20px 0 20px;
    .container__flex {
      display: flex;
      flex-direction: column-reverse;
    }
    .block__btn {
      margin-top: 7px;
    }
    .gameCard {
      display: grid;
      grid-template-columns: 230px;
      grid-template-rows: 260px 260px 260px 260px 260px 260px;
      gap: 20px;
    }
  }
}
