<app-navbar></app-navbar>
<form class='form' [formGroup]='profileForm' (ngSubmit)='onSubmit()'>
  <h2>Profile</h2>
  <div class='form__userName'>
    <label for='inputUserName' class='form__label'>UserName</label>
    <input 
    formControlName='userName'
    type='text'
    class='form__control' 
    placeholder='userName' 
    id='inputName'>
  </div>

  <div class='form__email'>
    <label for='inputEmail' class='form__label'>Email</label>
    <input 
    type='email'
    class='form__control' 
    placeholder='Email' 
    value="km@gmail.com"
    id='inputEmail'>
  </div>

  <div class='form__age'>
    <label for='inputAge' class='form__label'>Age</label>
    <input type='text'
    formControlName='age'
    class='form__control' placeholder='age' 
    id='inputAge'>
  </div>
  
  <button type='submit' class='form__btn'>Save
  </button>
</form>
